# Build files
/docs/
/dist/
/coverage/
/src/dist/
/index.d.ts
/index.js
/index.js.map
/src/**/*.d.ts
/src/**/*.js
/src/**/*.js.map
*.tar.gz
*.tgz
.ng_pkg_build/

!/src/typings.d.ts

# Node and bower directories
node_modules/
bower_components/

# Temporary files
*~
*.log
*.mo

# IDE files
.idea/
*.ipr
*.iml
*.iws
.project
.classpath
.settings
classes/

# Other garbage
.DS_Store
.*.swp
._*

.vscode